.todolist_container {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  @media (max-width: 640px) {
    padding: 20px 0;
  }
}

.todolist_content {
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1);
  border-radius: 15px;
  padding: 10px;
}

.project_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project_name_text {
  font-size: 22px;
  font-weight: bold;
}

.sections_container {
  display: flex;
  justify-content: space-between;
  @media (max-width: 640px) {
    flex-direction: column;
  }
  section {
    width: 33%;
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

.text_status {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  @media (max-width: 640px) {
    margin-top: 10px;
  }
}
