.todolist_container {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  @media (max-width: 580px) {
    padding: 20px 0;
  }
}

.todolist_content {
  max-width: 1200px;
  width: 100%;
  min-height: 600px;
  background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1);
  border-radius: 15px;
  padding: 10px 10px 20px;
}

.buttons_container_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 10px;
}

.button_items {
  background-color: rgb(187, 197, 217);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 12px;
  @media (max-width: 580px) {
    background-color: rgb(240, 229, 229);
    cursor: pointer;
  }
}

.active_button {
  @media (max-width: 580px) {
    background-color: rgb(209, 239, 180);
    transition: 0.3s;
  }
}

.text_status {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
