.input-file {
  position: relative;
  display: inline-block;
}
.input-file-btn {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: #000000;
  text-align: center;
  border-radius: 8px;
  border: 1px solid;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.2s;
}

.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file input[type="file"]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-file:hover .input-file-btn {
  background-color: rgb(67, 11, 58);
  color: #fff;
}

.input-file:active .input-file-btn {
  background-color: rgb(67, 11, 58);
}

.input-file input[type="file"]:disabled + .input-file-btn {
  background-color: #eee;
}
