.todo_id_container {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  @media (max-width: 580px) {
    padding: 20px 0;
  }
}

.todo_id_content {
  max-width: 800px;
  width: 100%;
  min-height: 600px;
  background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 580px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.form_container {
  margin-top: 20px;
  @media (max-width: 580px) {
    width: 100%;
    margin-top: 0;
  }
}

.comments_section {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 580px) {
    width: 100%;
  }
}

.Low {
  color: #707070;
}

.Normal {
  color: #000000;
}

.High {
  color: #ff4500;
}

.Highest {
  color: #ff0000;
}
