.todo_id_container {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  @media (max-width: 580px) {
    padding: 20px 0;
  }
}

.todo_id_content {
  max-width: 800px;
  width: 100%;
  min-height: 600px;
  background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 580px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.item_buttons_container {
  display: flex;
  justify-content: space-between;
}

.item_img_section {
  @media (max-width: 580px) {
    margin-top: 20px;
  }
}

.item_comment_container {
  display: flex;
  justify-content: space-between;
  @media (max-width: 580px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.item_info_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info_container {
  display: flex;
  padding-right: 20px;
  flex-direction: column;
  gap: 20px;
  div {
    font-size: 18px;
    font-weight: bold;
  }
  span {
    font-size: 18px;
    font-weight: normal;
  }
}

.form_container {
  display: flex;
  margin-top: 10px;
  @media (max-width: 580px) {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
}

.comments_title {
  display: flex;
  align-items: center;
  font-size: 14px !important;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  font-weight: normal !important;
  cursor: pointer;
}

.comments_title:hover {
  background-color: rgb(67, 11, 58);
  color: #fff;
}

.comments_section {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 580px) {
    width: 100%;
  }
}

.Low {
  color: #707070;
}

.Normal {
  color: #000000;
}

.High {
  color: #ff4500;
}

.Highest {
  color: #ff0000;
}

.todo_id_image {
  margin-top: 20px;
  width: 300px;
  height: 400px;
}
