.main_page_container {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  @media (max-width: 580px) {
    padding: 20px 0;
  }
}

.main_page_content {
  max-width: 800px;
  width: 100%;
  min-height: 500px;
  background: linear-gradient(to bottom, #59c173, #a17fe0, #5d26c1);
  border-radius: 15px;
  padding: 0 20px 20px;
  @media (max-width: 580px) {
    padding: 0 10px 10px;
  }
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #707070;
}

.btn_container {
  margin: 0 10px;
}

.search_container {
  background-color: #fff;
}

.search_icon {
  cursor: pointer;
}