.section_item_container {
  width: 100%;
}

.sections_container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  @media (max-width: 580px) {
    flex-direction: column;
  }

  .section_container_item {
    width: 33%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    @media (max-width: 580px) {
      width: 100%;
      min-height: 0;
    }
  }
}

.not_todos {
  margin-left: 30px;
}

.display_none {
  @media (max-width: 580px) {
    width: 100%;
    display: none;
  }
}

.display_block {
  @media (max-width: 580px) {
    width: 100%;
    display: block;
  }
}
