.comments-title {
  margin-bottom: 20px;
  font-size: 12px !important;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  font-weight: normal !important;
  cursor: pointer;
}

.comments-title:hover {
  background-color: rgb(67, 11, 58);
  color: #fff;
}

.comments-container {
  margin-top: 30px;
}

.comment-form-title {
  font-size: 16px !important;
  font-weight: normal !important;
}

.comment-form-textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid;
}

.comment {
  display: flex;
  margin-bottom: 20px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 16px !important;
  color: rgb(9, 65, 155);
}

.comment-text {
  font-size: 14px !important;
}

.comment-actions {
  display: flex;
  font-size: 14px !important;
  font-weight: normal !important;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
